<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <div class="row">
      <div style="margin-top: 35px;margin-bottom: 39px" class="col-md-12 d-flex justify-content-center">
        <h1 style="font-family: auto;font-size: 44px;">The Project we Build</h1>
      </div>
      <div class="col-md-12 text-center" style="display: flex; justify-content: center;" >
        <div class="row  gx-2">
          <div class="col-md-4">
            <div  class="card" style="text-align: center;height: 400px;" >
              <img src="/images/c.jpg" class="card-img-top" alt="..." height="200" width="50">
              <div class="card-body">
                <label style="font-weight: 500;">Description</label>
                <hr style="width: 30%;margin: auto;margin-top: 3px;">
                <p class="card-text">This Project is a Java Project and it build responsive layers.</p>
           
                <label style="font-weight: 500;">Outcomes</label>
                <hr style="width: 30%;margin: auto;margin-top: 3px;">
                <p>being efficent for the students</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div  class="card" style="text-align: center;height: 400px;">
              <img src="/images/lion.jpg" class="card-img-top" alt="..." height="200" width="50" >
              <div class="card-body">
                <label style="font-weight: 500;">Description</label>
                <hr style="width: 30%;margin: auto;margin-top: 3px;">
                <p class="card-text">This Propject is a Php Project I recently build. and I</p>
                <label style="font-weight: 500;">Outcomes</label>
                <hr style="width: 30%;margin: auto;margin-top: 3px;">
                <p>Increased users in the App</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div  class="card" style="text-align: center;height: 400px;">
              <img src="/images/go.jpg" class="card-img-top" alt="..."  height="200" width="50">
              <div class="card-body">
                <label style="font-weight: 500;">Description</label>
                <hr style="width: 30%;margin: auto;margin-top: 3px;">
              
                <p class="card-text">This Project is of a Node Js to make a scalable APIs</p>
             
                <label style="font-weight: 500;">Outcomes</label>
                <hr style="width: 30%;margin: auto;margin-top: 3px;">
                <p>Reduce the number of complaint from the users</p>
              </div>
            </div>
          </div>
          </div>
        

       

       
      </div>
    </div>
      </div>
</body>

</html>